<p-card [header]="listTitle ? listTitle : (itemType | titlecase) + ' List'" class="mb-4">
    <ul class="list-none p-0">
        <li *ngFor="let item of items" class="flex items-center justify-between py-2 px-4">
            <div *ngIf="!item.action" class="flex items-center">
                <p-checkbox [(ngModel)]="item.done" class="mr-3"
                    [disabled]="item.done !== undefined && item.done"></p-checkbox>
                <span [ngClass]="{'text-gray-500 line-through': item.done}" class="text-lg">{{ item.label }}</span>
            </div>

            <div *ngIf="item.action?.type === 'button'" class="flex items-center">
                <p-checkbox [(ngModel)]="item.done" class="mr-3"
                    [disabled]="item.done !== undefined && item.done"></p-checkbox>
                <span [ngClass]="{'text-gray-500 line-through': item.done}" class="text-lg">{{ item.label }}</span>
                <p-button *ngIf="item.done !== undefined && !item.done" label="Mark as Done" icon="pi pi-check"
                    (click)="markAsDone(item)" class="p-button-sm"></p-button>
            </div>

            <div *ngIf="item.action?.type === 'redirect'" class="flex items-center">
                <p-checkbox [(ngModel)]="item.done" class="mr-3" [disabled]="item.done !== undefined && item.done"></p-checkbox>
                <span 
                  [ngClass]="{'text-gray-500 line-through': item.done}" 
                  class="text-lg cursor-pointer hover:shadow-md hover:bg-blue-100 hover:text-blue-700 p-2 rounded transition-all" 
                  (click)="goToPage(item.action.url)">
                  {{ item.label }}
                </span>
              </div>
              
        </li>
    </ul>
</p-card>