<aside class="h-full bg-white shadow flex flex-col transition-all duration-300" [ngClass]="collapsed ? 'w-20' : 'w-64'">
  <p-avatar image="HLogo.png" shape="circle" [style]="{ 'width':  '70px', 'height':  '70px' }"></p-avatar>

  <!-- Toggle Button -->
  <button (click)="toggleSidebar()" class="flex items-center gap-2 px-4 py-2">
    <i class="pi" [ngClass]="collapsed ? 'pi-angle-double-right' : 'pi-angle-double-left'"></i>
    <span *ngIf="!collapsed"></span>
  </button>

  <p-panelMenu [model]="menuItems" [styleClass]="collapsed ? 'invisible' : 'w-64'" class="border-none shadow-none"
    [multiple]="true">
  </p-panelMenu>

  <div role="button" tabindex="0" (click)="navigateToProfile()" (keydown.enter)="navigateToProfile()"
    class="px-4 py-4 border-t mt-auto flex items-center gap-3 w-full hover:bg-gray-200 active:bg-gray-200 cursor-pointer  ">
    <p-avatar image="fearless-tab-shadow.png" shape="circle" [size]="collapsed ? 'large' : 'xlarge'"></p-avatar>
    <div class="text-sm" [class.hidden]="collapsed">
      <div class="font-medium text-gray-800">Shadow</div>
      <div class="text-gray-500 text-xs">Developer</div>
    </div>
  </div>
</aside>