.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.left-side {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
