@import "tailwindcss";
@import "primeicons/primeicons.css";
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pie-info-text {
   @apply text-sm text-gray-600;
}

.pie-info-header {
  @apply text-lg font-bold text-gray-700;
}