<p-megaMenu 
  [model]="items" 
  orientation="vertical" 
  class="w-20 p-4 shadow-xl flex flex-col gap-2"
>
  <ng-template #start>
    <p-avatar 
        image="HLogo.png" 
        shape="circle" 
        class="h-16 w-16 mb-4"
    />
  </ng-template>
  

  <ng-template #item let-item>
    <a 
      pRipple 
      class="flex items-center px-4 py-2 cursor-pointer rounded-2xl text-base font-medium"
    >
      <i [ngClass]="item.icon" class="text-lg"></i>
      <span class="ml-3">{{ item.label }}</span>
    </a>
  </ng-template>

  <ng-template #end>
    <p-avatar 
      image="fearless-tab-shadow.png" 
      shape="circle" 
      class="h-16 w-16 mb-4"
    />
  </ng-template>
</p-megaMenu>
