<div class="p-6 space-y-6">
  <div class="flex items-center justify-between">
    <div>
      <h1 class="text-3xl font-bold text-gray-800">Welcome, Shadow</h1>
      <p class="text-gray-600">Developer</p>
    </div>
  </div>
  <p-card styleClass="p-4">
    <div class="flex gap-12">
      <div class="flex gap-12">
        <ng-container *ngFor="let card of cards; let i = index">
          <app-piecard [card] = "card"></app-piecard>
          <p-divider *ngIf="i < cards.length - 1"  layout="vertical" />
          </ng-container>
      </div>
    </div>
  </p-card>
  <div></div>
  <div *ngIf="showColleagues" class="bg-white p-4 rounded-2xl shadow col-span-1 md:col-span-2">
    <h2 class="text-lg font-semibold mb-4">Colleagues</h2>
    <div class="overflow-x-auto whitespace-nowrap space-x-4 flex">
      <div *ngFor="let person of colleagues" class="inline-block text-center">
        <p-avatar [image]="person.avatar" shape="circle" size="xlarge"></p-avatar>
        <p class="text-sm mt-1">{{ person.name }}</p>
      </div>
    </div>
  </div>
</div>